:root {
  /* #01bff1  */
  --theme-primary: rgba(1, 191, 241, 1);

  /* #090000 */
  --theme-dark: rgba(9, 0, 0, 1);

  /* #ff3f8a */
  --theme-accent: rgb(255, 63, 138, 1);
}

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* reset so don't get from user-agent or font-family  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  margin-bottom: 0;
}

/* body {
  min-height: 100vh;
    display: flex;
    flex-direction: column;
} */
/* reset for forms */
/* https://developer.mozilla.org/en-US/docs/Learn/Forms/Styling_web_forms */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

fieldset {
  border: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* base styles */
body {
  font-family: var(--roboto-font);
  /* background-color: var(--theme-color-muted); */
  background-color: var(--theme-dark);
  color: var(--theme-primary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2.5rem 3.125rem;
  /* height less the navbar height. ideally should be a variable */
  height: calc(100vh-70px);

  /* set min-height & margin-auto on footer to make sure sticks at bottom when no content */
  /* https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14 */
  min-height: 100vh;
}

/* 
  hide except for screen readers
  from Bootstrap:
  https://github.com/twbs/bootstrap/blob/v5.2.3/dist/css/bootstrap.css
*/
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
