/* 
  adapted from https://developers.google.com/identity/sign-in/web/build-button
  svg from https://codepen.io/mupkoo/pen/YgddgB
    https://github.com/machadop1407/react-firebase-blog-website/blob/main/src/App.css 
*/

.googleButton {
  cursor: pointer;
  background-color: var(--theme-dark);
  color: var(--theme-accent);
  border-radius: 5px;
  border: thin solid var(--theme-accent);
  box-shadow: 1px 1px 1px var(--theme-accent);
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.googleButton:hover,
.googleButton:focus {
  border: solid var(--theme-primary);
  box-shadow: none;
}

.googleIcon {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=)
    transparent 50% no-repeat;

  width: 28px;
  height: 28px;
}

.googleText {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
