.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(9, 0, 0, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modalContainer {
  background-color: var(--theme-primary);
  color: var(--theme-dark);
  height: 40%;
  width: 30%;
  display: flex;
  flex-direction: column;

  padding: 1.25rem;
}

.btnModal {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 2rem;
  color: var(--theme-accent);
  align-self: flex-end;
  cursor: pointer;
}

.modalTitle {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}
