.navbar {
  height: 70px;
  background-color: var(--theme-dark);
  color: var(--theme-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  font-size: 1.25rem;
  text-transform: uppercase;

  box-shadow: 1px 1px 1px var(--theme-primary);
}

.logo {
  display: flex;
  align-items: center;
  color: var(--theme-accent);
}

.logo img {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.logo h1 {
  font-size: 1.75rem;
}

.navmenu {
  list-style: none;
  color: var(--theme-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navmenu a {
  color: var(--theme-primary);
  text-transform: uppercase;
  text-decoration: none;
}

.navmenu .activeLink {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.5rem;
  text-decoration-color: var(--theme-accent);
}

.hamburger {
  display: none;
  z-index: 99999;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--theme-accent);
}

@media only screen and (max-width: 768px) {
  .navmenu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    background-color: var(--theme-dark);
    height: 100vh;
    width: 100%;

    transition: 0.3s;
  }

  .navmenu.expanded {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.expanded .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.expanded .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.expanded .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
