.card {
  background-color: white;

  color: black;
  border-radius: 10px;
  cursor: pointer;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.15rem;
  font-weight: 500;
}

.year {
  align-self: flex-end;
  font-style: italic;
}

/* TODO: box shadow */
.btnLink {
  text-decoration: none;
  color: white;
  background-color: var(--theme-color-rgba);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
