.showDetail {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px var(--theme-accent);
}

/* for responsive image stuff */
/* .imgHolder{

} */

.showHeader {
  display: flex;
  width: 100%;
  border-bottom: solid var(--theme-accent) 0.2rem;
}

.showHeader img {
  height: 100%;
  border: solid 0.2rem var(--theme-accent);
}
.showHeaderText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.showHeaderText h1 {
  font-size: 3rem;
  color: var(--theme-accent);
}

.showHeaderText p {
  font-size: 1.75rem;
  align-self: flex-end;
}
.showBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.charactersTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.characters {
  list-style: none;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.characters li {
  margin-bottom: 1rem;
}

.showDetail footer {
  height: 50px;
  padding: 1rem;
  border-top: solid 0.2rem;
  text-align: center;
  color: var(--theme-accent);

  display: flex;
  justify-content: center;
  align-items: center;
}

.showActions {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  gap: 2rem;
  font-size: 1.75rem;
}

.showActions .btnAction {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  color: var(--theme-accent);
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
