.showDetail {
  height: calc(100vh-50px);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px var(--theme-accent);
}

.showHeader {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-bottom: solid var(--theme-accent) 0.2rem;
}

.showHeader .imgHolder {
  height: 250px;
  width: 100%;
}
.showHeader .imgHolder img {
  width: 100%;
  height: 100%;
  border: solid 0.2rem var(--theme-accent);
}
.showHeaderText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.showHeaderText .title {
  font-size: 1.75rem;
  color: var(--theme-accent);
}

.showHeaderText .years {
  font-size: 1.75rem;
  align-self: flex-end;
  font-style: italic;
}
.showBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.charactersTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.characters {
  list-style: none;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.characters li {
  margin-bottom: 1rem;
}

.showDetail footer {
  height: 50px;
  padding: 1rem;
  border-top: solid 0.2rem;
  color: var(--theme-accent);

  display: flex;
  justify-content: center;
  align-items: center;
}

.showActions {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  font-size: 1.75rem;
}

.showActions .btnAction {
  margin: 0 1rem;
  border: none;
  color: var(--theme-accent);
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.showActions a {
  text-decoration: none;
  color: var(--theme-accent);
}

@media only screen and (max-width: 960px) {
  .showDetail {
    width: 100%;
  }

}
