.card {
  /* background-color: white; */

  /* color: black; */
  background-color: var(--theme-primary);
  color: var(--theme-dark);
  border-radius: 10px;
  cursor: pointer;
  flex: 1 1 25%;
  max-width: 200px;
}

.card .imageHolder {
  width: 100%;
  height: 150px;
}
.card .imageHolder img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 200px;
  flex-basis: 200px;
}

.title {
  font-size: 1.15rem;
  font-weight: 500;
  min-height: 4rem;
  max-height: 4rem;
  text-overflow: ellipsis;
  overflow: hidden;

  /* https://kiranworkspace.com/ellipsis-to-multiline-text-in-css/ */
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.year {
  align-self: flex-end;
  font-style: italic;
}

/* TODO: box shadow */
.btnLink {
  text-decoration: none;
  /* color: var(--theme-primary); */
  color: var(--theme-dark);
  background-color: var(--theme-accent);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
