.showForm {
  background-color: var(--theme-dark);

  color: var(--theme-primary);

  display: flex;
  flex-direction: column;

  width: 80%;
  padding: 2rem;
  border-radius: 1.5rem;
}

.showForm .showFormTitle {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--theme-primary);
  font-size: 2.25rem;
}

.showInputGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1.5rem;

  height: 8.5rem;
  min-height: 8.5rem;
}

.showInputGroup .showInputLabel {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.showInputGroup .showInput,
.showInputCharacters .showInput {
  height: 3rem;
  min-height: 3rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  /* have to explicitly set so shows for file input */
  border: solid 2px var(--theme-accent);
  color: var(--theme-primary);
}

.showInputGroup .showInput {
  width: 100%;
  margin-bottom: 2rem;
}

.fileInput {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.fileInput input[type="file"]::file-selector-button {
  display: none;
}
.fileInput input[type="file"] {
  width: 95%;
  cursor: pointer;
}
.showInputGroup .btnUpload {
  margin-left: auto;
  border: none;
  border-radius: 10px;
  height: 2rem;
  width: 2rem;
  font-size: 2.5rem;
  background-color: transparent;
  color: var(--theme-accent);
  cursor: pointer;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: 600; */
}
.showYears {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.showYears .showInputGroup {
  width: 50%;
}

.showCharactersHeader {
  margin-top: 1.75rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.showCharactersHeader .showCharactersTitle {
  font-size: 1.5rem;
}

.showInputGroup .showInputCharacters {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
}

.showInputCharacters .showInput {
  width: 95%;
  margin-right: 1.5rem;
}

.btnAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;

  background-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--theme-accent);
  cursor: pointer;
  margin-left: auto;
}

.btnRemove {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--theme-accent);
  cursor: pointer;
}

.showForm .btnSubmit {
  height: 3rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--theme-accent);
  color: var(--theme-dark);
  border: none;
  box-shadow: 1px 1px 1px var(--theme-primary);
}

@media only screen and (max-width: 768px) {
  .showInputGroup .showInputLabel,
  .showCharactersHeader .showCharactersTitle {
    font-size: 1.25rem;
  }
}
