.card {
  /* background-color: white; */

  /* color: black; */
  background-color: var(--theme-primary);
  color: var(--theme-dark);
  border-radius: 10px;
  cursor: pointer;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.15rem;
  font-weight: 500;
}

.year {
  align-self: flex-end;
  font-style: italic;
}

/* TODO: box shadow */
.btnLink {
  text-decoration: none;
  /* color: var(--theme-primary); */
  color: var(--theme-dark);
  background-color: var(--theme-accent);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
