.showForm {
  background-color: var(--theme-dark);
  /* color: white; */
  color: var(--theme-primary);

  display: flex;
  flex-direction: column;

  width: 80%;
  padding: 1.25rem;
  border-radius: 1.5rem;
}

.showForm h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--theme-primary);
}

.showInputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.showInputGroup label {
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
  font-weight: 700;
  padding: 0 0.5rem;
}
.showInputGroup input {
  height: 3rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border-color: var(--theme-accent);
}

.showInputGroup textarea {
  height: 7rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.showForm input[type="submit"] {
  height: 3rem;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--theme-accent);
  color: var(--theme-dark);
}

.showCharactersHeader {
  height: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}
.showCharactersHeader h2 {
  font-size: 1.15rem;
  width: 95%;
  margin-right: 2rem;
}

.showInputCharacters {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.showInputCharacters input {
  height: 3rem;

  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 95%;

  margin-right: 2rem;
  background-color: transparent;
  border-color: var(--theme-accent);
}

.btnAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  background-color: var(--theme-accent);
  height: 3rem;
  width: 30px;
  height: 30px;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--theme-dark);
  cursor: pointer;
}

.btnRemove {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  /* border: solid var(--theme-accent); */
  /* background-color: white; */
  background-color: transparent;
  height: 3rem;
  width: 30px;
  height: 30px;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--theme-accent);
  cursor: pointer;
}
